<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="UsersDatabase" connectionString="Filename=db\users.db" />
    <add name="UserFavoritesDatabase" connectionString="Filename=db\favorites.db"/>
  </connectionStrings>
  <appSettings>
    <add key="JWTSecret" value="totallyuncrackablepassword"/>
		<add key="CoinLimit" value="50" />
	</appSettings>
</configuration>