@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
	Szymon Smykała, Piotr Gabrielski<br />
    Jagiellonian University<br />
    Łojasiewicza 6, 30-348 Kraków<br />
</address>

